

.post-container {
    width: 800px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur(20px);
    color: #f1f1f1;
    border: 5px solid rgba(27, 27, 27, 0.555);
    box-shadow: 0 8px 16px rgba(0, 162, 255, 0.486);
    border-radius: 40px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.delete-post-button {
    background: transparent;
    backdrop-filter: blur(20px);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    border: 3px solid rgba(27, 27, 27, 0.555);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    float: right;
    display: inline;
    transition: all 0.5s ease;
}

.delete-post-button:hover {
    background-color: #c9302c;
    box-shadow: 0 6px 12px rgba(255, 0, 0, 0.511);
    transform: translateY(-7px);
}

.form-group {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}


.image-preview {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.post_textarea::-webkit-scrollbar {
    width: 12px;
}

.post_textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.post_textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.post_textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

