.post-box {
    width: 800px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur(20px);
    color: #f1f1f1;
    border: 5px solid rgba(27, 27, 27, 0.555);
    box-shadow: 0 8px 16px rgba(0, 162, 255, 0.486);
    border-radius: 40px;
}

.form-group {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.edit-post-button {
    backdrop-filter: blur(20px);
    background-color: transparent;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin: 4px;
    display: inline-block;
    text-decoration: none;
    color: #999;
    font-size: medium;
    font-weight: bold;
    box-shadow: 0 8px 16px rgba(0, 162, 255, 0.288);
    border: 2px solid rgba(27, 27, 27, 0.486);
    transition: all 0.5s ease;
}

.edit-post-button:hover {
    color: white;
    text-shadow: 0 8px 16px rgba(0, 162, 255, 0.699);
    box-shadow: 0 8px 16px rgba(0, 162, 255, 0.699);
    transform: translateY(-7px) scale(1.05);
}



.post_textarea {
    background-color: transparent;
        backdrop-filter: blur(20px);
        width: 85%;
        flex: 1;
        padding: 12px;
        border: 2px solid rgba(27, 27, 27, 0.486);
        border-radius: 15px;
        margin-right: 10px;
        margin-bottom: 20px;
        resize: none;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: white;
}

.file-label {
    backdrop-filter: blur(20px);
    background-color: transparent;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin: 4px;
    display: inline-block;
    text-decoration: none;
    color: #999;
    font-size: medium;
    font-weight: bold;
    box-shadow: 0 8px 16px rgba(0, 162, 255, 0.288);
    border: 2px solid rgba(27, 27, 27, 0.486);
    transition: all 0.5s ease;
}

.file-label:hover {
    color: white;
    text-shadow: 0 8px 16px rgba(0, 162, 255, 0.699);
    box-shadow: 0 8px 16px rgba(0, 162, 255, 0.699);
    transform: translateY(-7px) scale(1.05);
}

.file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}


.button-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.image-preview {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Customize the scrollbar */
.post_textarea::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

.post_textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background color of the scrollbar track */
    border-radius: 10px;
}

.post_textarea::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
}

.post_textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb when hovered */
}

/* For Firefox */
.post_textarea {
    scrollbar-width: thin;
    /* Width of the scrollbar */
    scrollbar-color: #888 #f1f1f1;
    /* Thumb and track color */
}

.post_image {
    width: 50%;
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 12px;
}