body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../assets/social.jpg") ;
    background-position: center;
}

.blue_bar {
    height: 50px;
    backdrop-filter: blur(25px);
    color: #d9dfeb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mrbook_pro {
    width: 100%;
    margin: auto;
    font-size: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

}

.timeline{
    float: left;
    color: white;
    text-decoration: none;
    margin-top: 3px;
    margin-left: 3px;
    transition: transform 0.5s ease; /* إضافة التحول */
}

.timeline:hover {
    transform: scale(1.2); /* تكبير العنصر عند مرور المؤشر عليه */
}

.search_box {
    width: 400px;
    height: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    font-size: 14px;
    background-image: url(../assets/search.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 5px;
}

.mine_pro_img {
    border-radius: 30px;
    width: 47px;
    float: right;
}

.logout {
    font-size: 16px;
    float: right;
    margin: 10px;
    color: white;
    text-decoration: none;
    transition: transform 1s ease; /* إضافة التحول */
}

.logout:hover {
    transform: scale(1.2); /* تكبير العنصر عند مرور المؤشر عليه */
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .timeline{
        position: absolute;
        left: 50%;
        top: -5px;
        transform: translateX(-50%);
    }
    .search_box {
        display: none;
    }

    .mine_pro_img {
        display: none;
    }

    .logout {
        display: none;
    }
}
