a {
    text-decoration: none;
    color: white;
}

a.timeline_pro {
    color: #405d9b;
}

.menu_buttons a {
    color: #405d9b;
}

.like,
.comment {
    color: #405d9b;
}


.friend_link {
    color: #405d9b;
}
.posts a{
    color: #405d9b;
}