.post_image{
    width: 80%;

}
.updated_profile_and_cover_post{
    font-weight: normal;
    color: #aaa;
}

.post_edit_and_delete{
    color: #999;
    float: right;
}
.post_conten{
    width: 100%;
}

/* enter post */



