/* روابط المنشورات */
.posts a {
    text-decoration: none;
    transition: all 0.5s ease;
    color: #405d9b;
    max-width: 100%;
}

.posts a:hover {
    transform: translateY(-5px) scale(1.010);
    /* زيادة حجم الخط عند المرور بالماوس */
    color: #233e8b;
}

/* تصميم المنشورات */
.posts {
    padding: 20px;
    font-size: 16px;
    display: flex;
    
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.post_content {
    flex: 1;
    width: 100%;
}

.post_num {
    font-weight: bold;
    color: #405d9b;
}

/* صورة البروفايل */
.post_img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

/* صورة المنشور */
.post_image {
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.updated_profile_and_cover_post {
    font-weight: normal;
    color: #aaa;
}

/* أزرار تعديل وحذف المنشور */
.post_edit_and_delete {
    color: #999;
    float: right;
    /* إصلاح تنسيق الأزرار ليظهران على اليمين */
    padding-left: 5px;
    
}

.post_edit_and_delete_span{
    display: flex;

}


.post_data a {
    margin-right: 10px;
    font-weight: bold;
}

.post_data a:last-child {
    margin-right: 0;
}

/* صندوق إضافة منشور جديد */
.enter_post {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 20px;
}

.enter_post textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 12px;
    margin-bottom: 20px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.enter_post input[type="file"] {
    width: 100%;
    margin-bottom: 20px;
}

.enter_post .post_button {
    background-color: #405d9b;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enter_post .post_button:hover {
    background-color: #233e8b;
}

/* تنسيق البيانات داخل المنشورات */
.post_data {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.like_numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like_number {
    color: #999;
    font-size: small;
}

.who_liked {
    
    text-align: left;
}
.comment_her{
    display: flex   ;
    max-width: 50%;
}