.setting{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-right: 10px;
}
.setting_bar h2 {
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: bold;
    color: #405d9b;
}
.setting_bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
    position: relative;
}

.data_contener {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin-bottom: 15px;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(2, 105, 119, 0.5);
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.setting_bar h3 {
    display: inline;
    padding-right: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #405d9b;
}

.setting_bar h4 {
    display: inline;
    padding-right: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #000000;

}
a{
    text-decoration: none;
    transition: all 0.4s ease;
}
a:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-7px);
}

.update_area{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-right: 10px;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
    position: relative;
    width: 500px;

}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
    position: relative;
    width: 90%;
}
form label{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
    margin-right: 5px;
}
form select {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin-right: 5px;
    text-align: center;
    /* لتوسيط العناصر داخل الحقل */
    appearance: none;
    /* إخفاء الأسلوب الافتراضي للمتصفح */
    -webkit-appearance: none;
    /* للتأكد من التوافق مع متصفحات WebKit */
    cursor: pointer;
    /* تغيير المؤشر عند التحويل إلى عنصر القائمة */
}

form select:hover,
form select:focus {
    border-color: #233e8b;
    /* تغيير لون الحدود عند التحويل */
    outline: none;
    /* إزالة التأثير الافتراضي للتحديد */
}

form select option {
    padding: 10px;
    /* تعديل الحشو داخل الخيارات */
}

/* تعليق: يمكنك تعديل الألوان والأشكال حسب الاحتياجات الخاصة بك */
.post_textarea {
    width: 85%;
    flex: 1;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 20px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
} 

.edit-post-button {
    background-color: #405d9b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    float: right;
    display: inline;
}

.edit-post-button:hover {
    background-color: #334a75;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-7px);
}

.passeord_erea{
    display: block;
}


