/* CSS for Friend Blocks */
.friend {
    display: ruby;
    width: 100px;
    margin: 10px;
    text-align: center;

}

.friend_link {
    text-decoration: none;
    color: #999;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.friend_link:hover {
    transform:scale(1.05);
    color: white;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

/* This targets the image inside a hovered .friend_link */
.friend_link:hover .friends_img {
    transform:  scale(1.05);
    border-color: #405d9b;
}

.friends_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgba(27, 27, 27, 0.486);
    box-shadow: 0 8px 16px rgba(0, 162, 255, 0.486);
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.Frindes_par {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}