/* CSS for Friend Blocks */
.friend {
    display: inline-block;
    width: 100px; /* تعديل حسب الحاجة */
    margin: 10px; /* تباعد بين الأصدقاء */
    text-align: center;
}

.friend_link {
    text-decoration: none;
    color: #405d9b;
}

.friend_link:hover {
    font-size: large; /* تحسين حجم الخط عند التحويل */
    color: #142d63;
    font-weight: bold;
}

.friends_img {
    width: 50px; /* تعديل مقاس الصور */
    height: 50px; /* تعديل مقاس الصور */
    border-radius: 50%;
    border: 2px solid #fff;
    transition: border-color 0.3s ease;
}

.friends_img:hover {
    border-color: #405d9b;
}

.friends_bar {
    background-color: white;
    min-height: 200px;
    color: #aaa;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* توسيط الصف الأفقي */
}

.Frindes_par    {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    color: #405d9b;
}
